{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
<main>
  <div class="text-center">
    <h1>Привет, это я и зовут меня Игорь.</h1>
    <img src="{% static 'img/Me.JPG' %}"
    width="250" height="300"
    class="d-inline-block align-top" alt="">
    <h4>Давай познакомимся</h4>
  </div>
  <div class="container py-5">
    <p style="font-size: 20px">Всё начилось 3 года назад, тогда я первый раз познакомился с Python.<br>
    Мой хороший друг сказал мне "Там у Яндекса есть хорошие курсы, посмотри, может найдёшь что-нибудь для себя."</p>
    <h5>И я зашёл...</h5>
    <div>
      <h5>Почему программирование?</h5>
        <p style="font-size: 20px">Я всегда любил компьютеры и всё, что с ними связанно, с самого детства
        разбирал, чинил, настраивал, делал всё что хотел с ними и мне это удавалось.</p>
        <p style="font-size: 20px">В 18 лет я поступил в ВУЗ и там мне выпала возможность
          стать системным администратором и я воспользовался ею, и на протяжении 4 лет я работал сис.админом.</p>
      <div>
        <h5>В ноябре 2022 г. я стал студентом Яндекс Практикума.</h5>
          <p style="font-size: 20px">Парралельно учёбе в Яндексе обучаюсь на магистратуре. Каждый день пытаюсь
          разобраться в чем-то новом для себя(не всегда успешно конечно), но чаще получается и стараюсь сразу
          применить это в проектах.</p>
        <div class="text-center">
          <h5>Спасибо, что зашли на мой сайт!</h5>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}